nav ul li a:hover {
  background-color: #db3545;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* on medium screens I want the width be half size  */
/* as long as it is above 768px */
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}



.news-input button {
  background-color: rgb(33, 37, 41);
  color: white;
}

.news-input button:hover {
  color: white;
  box-shadow: 1px 2px 3px white, -1px -2px 3px white;
  opacity: 0.9;
}


.workWord,
.softwareEngineerWord {
  color: #db3545;
  font-family: "Cairo", sans-serif;
  font-family: "Jomhuria", cursive;
  font-family: "Lobster", cursive;
  font-family: "Merriweather", serif;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 60px;
}

.worksSection .card{
    padding: 9px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.worksSection .card:hover{
  
   box-shadow: 1px 1px 15px #db3545,-1px -1px 15px rgb(33,37,41);
}