nav ul li a:hover {
    background-color: #DB3545;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
